@import url(https://db.onlinewebfonts.com/c/f0d74efcb3514ddd8b40798b589948d1?family=Compacta+Bold);
@import url(https://db.onlinewebfonts.com/c/f32cb969a6cf978973854922e9b4fe36?family=Compacta+Light);

@font-face {
  font-family: "Compacta Bold";
  src: url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.eot");
  src: url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.eot?#iefix")format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.woff2")format("woff2"),
       url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.woff")format("woff"),
       url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.ttf")format("truetype"),
       url("https://db.onlinewebfonts.com/t/f0d74efcb3514ddd8b40798b589948d1.svg#Compacta Bold")format("svg");
}
/*#region Base*/
:root {
  --lightestOrange: rgb(243, 229, 211);
  --lightOrange: rgb(253, 207, 153);
  --darkOrange: rgb(201, 115, 16);
  --darkestOrange: rgb(136, 74, 4);
}

html {
  scroll-behavior: smooth  ;
}

body {
  width: 100vw;
  height: 415vh;
  background-color: var(--lightOrange);
  margin: 0;
  border: 0;
  overflow-x: hidden;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 25px;
  height: 25px;
}

body::-webkit-scrollbar-track {
  background-color: var(--lightestOrange);
  border-radius: 100vw;
  margin-block: -.4em;
  margin-inline: -.4em;
}

body::-webkit-scrollbar-thumb {
  background: var(--darkOrange);
  border: .5em solid var(--lightestOrange);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  border: 0;
}
/*#endregion Base */

/*#region HeroSection*/
.title{
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: "Compacta Bold";
  font-size: 450px;
}

.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  border: none;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 70%;
    background-image: url('headshot.jpg');
    background-size:cover;
    background-position: center;
  }
}
/*#endregion HeroSection*/

/*#region Menu*/
.menu {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 2fr 1fr 2fr;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5vh;
  z-index: 1;
}

.menuBoxContent {
  font-size: 50px;
  width: 100%;
  height: 5vh;
  text-align: center;
  font-family: "Compacta Bold"; 
  
  background-color: var(--darkestOrange);
  border: none;
  padding-inline: 75px;

  cursor: pointer;
  transition: all ease 200ms;
}

.menuBoxContent:hover {
  scale: 1.15 1.4;
  border-radius: 1vw;
}

#box1 {
  text-decoration-color: black;
  text-align: end;
  z-index: 2;
  left: 0;
}

#box2 {
  z-index: 1;
  left: 40vw;
}

#box3 {
  text-align: start;
  z-index: 2;
  right: 0;
}
/*#endregion Menu*/

/*#region AboutSection*/
.aboutSection {
  background-color: var(--lightestOrange);
  top: 100vh;
  height: 105vh;
}

.pictureAndText {
  display: grid;
  position: relative;
  top: 25vw;
  grid-template-rows: 50vh;
  grid-template-columns: 50vw 50vw;
}

.pictureBlock {
  grid-area: 1 1 2 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textBlock {
  grid-area: 2 2 3 4;
  align-self: center;
  text-align: center;
}
/*#endregion AboutMe*/

/*#region PortfolioSection*/
.portfolioSection {
  display: flex;
  position: absolute;
  top: 205vh;
  left: 0;
  right: 0;
  height: 105vh;
}

.itchioGrid {
  display: grid;
  position: absolute;
  grid-template-rows: 100px;
  grid-template-columns: 100px;
  top: 25vh;
  left: 10vw;
  right: 10vw;
  width: 80vw;
  height: 50vh;
}
/*#endregion Portfolio*/

/*#region ContactSection*/
.contactSection {
  display: flex;
  position: absolute;
  top: 310vh;
  left: 0;
  right: 0;
  height: 105vh;
  background-color: aliceblue;
}


/*#endregion ContactSection*/
